{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% block title %}{% endblock %}

    <div{{ content_attributes }}>
      {# replace tokens in field #}
      {{ content.field_newsletter_intro.0['#context'].value|token_replace }}
      <hr/>
      <h3>Events</h3>
      {{ content.field_events }}
      <hr/>
      <h3/>News</h3>
      {{ content.field_news }}
      <hr/>
      {# replace tokens in field #}
      {{ content.field_newsletter_footer.0['#context'].value|token_replace }}
      <hr/>
    </div>
  {% endblock %}

  </div>
</article>
