{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]

%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% block title %}{% endblock %}

    <div{{ content_attributes }}>
      {{ content.read_more_1 }}

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <span class="event-date-start"><span class="from">From </span>{{ node.field_start_date.date | date("l, F j, Y - H:i") }}</span>

            {# is a value set for end date? #}
            {% if content.field_end_date|render %}

              {# is the end date valid and is it after the start date? #}
              {% if valid_end_date %}

                {# is the end on a different day? #}
                {% if multi_day_event %}
                  <span class="event-date-end"><span class="to">to </span>{{
                  node.field_end_date.date | date("l, F j, Y - H:i") }}</span>
                {% else %}
                  <span class="event-date-end"><span class="to">to </span>{{
                  node.field_end_date.date | date("H:i") }}</span>
                {% endif %}

              {% endif %}

            {% endif %}

            {{ content.field_event_description }}
            {{ content.field_more_information_link }}
            {{ content.field_geolocation }}
          </div>
          <div class="col-md-4">
            {{ content.field_event_thumbnail }}
            {{ content.field_address }}
            {{ content.field_contact_email }}
            {{ content.field_contact_phone }}
            {{ content.field_calendar }}
          </div>
        </div>
      </div>

      {{ content.read_more_2 }}
    </div>
  {% endblock %}
</article>
